{% extends 'blog/base.html' %}


{% block content %}
    <h1><a href="">Django Girls Blog</a></h1>

    <p>Welcome to <em>My Blog</em> - a simple Django web app.</p>

    {% if all_posts %}

        {% for post in all_posts %}
            <h2 href="">{{ post.title }}</h2>

            <p>{{ post.text }}</p>

            <p><strong>Author: </strong><a href="">{{ post.author }}</a></p>
            <p><strong>Published: </strong>{% if post.published_date %}{{ post.published_date }}{% else %}Date is undercover.{% endif %}</p>
        {% endfor %}

    {% else %}
    <p>There are no posts.</p>

    {% endif %}
{% endblock %}